# Intro to Python 2022

By Julian Garratt, Aarthi Kumararaja and Noah Rubin

###  Print/input statements:

### Variables/data types

### Aside: Pythonic Syntactic Sugar

### Control structures

### Functions

- Simply put, functions are chunks of code that are only run when called
- They can be used throughout your program in various places, whether is to perform a task or calculation
- You can pass function **parameters** if you wish, but it is not essential and there are situations where you will not need them
- Functions can also return data to you, but they don't always have to do this.
- The truly remarkable thing about functions in python is that they generate multiple outputs!!

#### Task ðŸ§ : Create a function that does absolutely nothing

In [ ]:
def my_func():
    pass

#### Task ðŸ§ : Create a function that extracts all the names that begin with [letter]:

In [27]:
def extract_names(my_list, letter):
    """Extract everyone who begains with [letter] and places into a new list"""
    new_list = []
    for n in my_list:
        # Strip whitespace in case we get a name like '   john  ' and then convert to title so that we don't get 'john'
        name = n.strip().title()
        if name.startswith(letter.upper()):
            new_list.append(name)
    return new_list

In [29]:
extract_names(['   John     ', 'Stacey', 'jack  ', 'Noah'], 'N')

['Noah']

#### Task ðŸ§ : Create a function that sends a this long message:

---

"Dear [NAME],

I recently applied for a job opening at [COMPANY NAME] for the position of [POSITION NAME] on your online career site.

Iâ€™d love to set up a time to schedule a call and talk about the position and my experience. I have some availability next week would really appreciate any opportunity to commmunicate about this further with you.

Sincerely,

[YOUR NAME]"

In [32]:
def structure_email(hiring_manager, company, position_name, your_name):
    """Structures an email"""
    intro = f"Dear {hiring_manager},\nI recently applied for a job opening at {company} for the position of {position_name} on your online career site.\n\n"
    body = f"Iâ€™d love to set up a time to schedule a call and talk about the my experience, and would really appreciate any opportunity to commmunicate about this further with you\n\n"
    conclusion = f"Sincerely,\n{your_name}"
    
    return intro + body + conclusion

In [33]:
print(structure_email('Dr. Smith', 'Nike', 'Data Scientist', 'Noah Rubin'))

Dear Dr. Smith,
I recently applied for a job opening at Nike for the position of Data Scientist on your online career site.

Iâ€™d love to set up a time to schedule a call and talk about the my experience, and would really appreciate any opportunity to commmunicate about this further with you

Sincerely,
Noah Rubin

### External Libraries:
- Pandas is arguably the gold standard for analysing small-medium sized data sets in python
- Um, why not just use excel?! 
- The problem is that excel can only handle 1,048,576 rows and 16,384 columns in a worksheet, so it really struggles as the amount of data increases
- Pandas can handle millions of rows with ease, and is far more versatile too as you are not just restricted to point anbd click type software

Here we will **very** gently introduce pandas and how knowledge of basic python can go a long way

In [ ]:
# In the line below, you might need to delete the '#' symbol and run the code
# !pip install pandas

In [34]:
import pandas as pd

In [35]:
orders = pd.read_csv('store.csv')
orders.head()

,Order Date,City,Category,Sub-Category,Product Name,Sales,Quantity
0,2016-11-08,Henderson,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2
1,2016-11-08,Henderson,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3
2,2016-06-12,Los Angeles,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2
3,2015-10-11,Fort Lauderdale,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5
4,2015-10-11,Fort Lauderdale,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2

#### Task ðŸ§ : 
Select only the `City` and `Sub-Category` columns and display them to the screen

In [36]:
orders[['City', 'Sub-Category']]

                 City Sub-Category
0           Henderson    Bookcases
1           Henderson       Chairs
2         Los Angeles       Labels
3     Fort Lauderdale       Tables
4     Fort Lauderdale      Storage
...               ...          ...
9989            Miami  Furnishings
9990       Costa Mesa  Furnishings
9991       Costa Mesa       Phones
9992       Costa Mesa        Paper
9993      Westminster   Appliances

[9994 rows x 2 columns]

#### Task ðŸ§ : 
Create a column called `Revenue` that multiplies `Sales` and `Quantity`

In [37]:
orders['Revenue'] = orders['Sales'] * orders['Quantity']

In [38]:
orders.head()

,Order Date,City,Category,Sub-Category,Product Name,Sales,Quantity,Revenue
0,2016-11-08,Henderson,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,523.9200
1,2016-11-08,Henderson,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,2195.8200
2,2016-06-12,Los Angeles,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,29.2400
3,2015-10-11,Fort Lauderdale,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,4787.8875
4,2015-10-11,Fort Lauderdale,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,44.7360

Find all Furtinute Sales

#### Task ðŸ§ : 
Use python dictionaries to rename `Order Date` to `Date` and `Product Name` to product

In [39]:
orders = order.rename(columns={'Order Date': 'Date', 'Product Name': 'Product'})

In [40]:
or

,Date,City,Category,Sub-Category,Product,Sales,Quantity
0,2016-11-08,Henderson,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2
1,2016-11-08,Henderson,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3
2,2016-06-12,Los Angeles,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2
3,2015-10-11,Fort Lauderdale,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5
4,2015-10-11,Fort Lauderdale,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2
...,...,...,...,...,...,...,...
9989,2014-01-21,Miami,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3
9990,2017-02-26,Costa Mesa,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2
9991,2017-02-26,Costa Mesa,Technology,Phones,Aastra 57i VoIP phone,258.5760,2
9992,2017-02-26,Costa Mesa,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4
9993,2017-05-04,Westminster,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2